html {
    height:100%;
}

* {
    font-size:20px;
    padding-left: 0;
    vertical-align: top;
    margin-top:0;
    margin-bottom:0;
}

body {
    background: #d8a0f1;
    font-family: Calibri;

}

#container {
    background: #f2f1f0;
    width:60%;
    margin:20px auto;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;

}

#commands > div {
    display: flex;
    align-items: center;
}

select {
    height: 30px;
    width:auto;
    border: none;
}
#commands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 2px solid #d8a0f1;
}

#add_element {
    background-color: #06D6A0;
    color:white;
    border-radius: 20px;
    margin-left:30px;
    padding:4px 15px;
    text-decoration: none;
    cursor:pointer;
    /*margin-top:10px;*/
}

section > div > input {
    margin:0 10px;
}

header {
    padding:0px;
    margin: 0;
}
h3 , h2 {
    padding:10px 10px 10px 30px;
}

h1 {
    font-size: 50px;
    border-bottom: 2px solid #d8a0f1;
    padding: 10px 30px;
}
h2 {
    font-size: 30px;
}

#cadre {
    height:600px;
    background: white;
    display:flex;
}

#cadre > div {
    font-size: 40px;
    width: 100px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06D6A0;
    border-right: 5px dashed black;
    border-bottom: 5px dashed black;
    border-top: 5px solid white;
    border-left: 5px solid white;
    position: relative;
    color:white;
}

#cadre > div > img {
    position:absolute;
    top:5px;
    right:5px;
    width:20px;
    cursor:pointer;

}

.temp_win {
    position:absolute;
    top:0;
    left:0;
    background-color: transparent;
    border:3px black dotted;
    z-index: 3;
}


