* {
    font-size:20px;
    padding-left: 0;
    vertical-align: top;
}

body {
    background-size: cover;
    font-family: Arial;
    text-align: left;
    background-image: url("images/printemps.jpg");
}


    #container {
        margin:0 auto;
        padding:0;
        width:1000px;
        background-color: #e2e1e0;
        display:block;
        font-size: 0;
        height:1220px;
    }


        header {
            height: 100px;
            width: 1000px;
            background-color: #fff;
            padding: 20px 0;
        }

            header img{
                height: 100px;
                margin: 0;
            }

        header h1{
            color: #000;
            font-size: 40px;
            display: inline-block;
            text-align: center;
            letter-spacing: 2px;
            margin: 10px 0;
            width:66%;
            box-sizing: border-box;
        }



    #banner {
        height:522px;
        background-image: url("images/cifap.jpg");
        background-size: cover;
    }





#container > img {
    width:100%;
}


#container > aside {
    display: inline-block;
    width: 20%;
    background-color: #e2e1e0;
    height:900px;
}

#container > aside > h2 {
    font-size: 22px;
    text-align: center;
    background-color: #101576;
    color: white;
    margin: 0 0 10px 0px;
    padding: 15px 10px;
}

#container > aside > ul{
    vertical-align: top;
    margin:0 0;
    font-size:0;
    padding:0;
    list-style-type: none;
}

#container > aside > ul > li{
    font-size: 25px;
    font-weight: bold;
}


#container > aside > ul > li > a {
    text-decoration: none;
    display:block;
    text-align: left;
    display:block;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 0px;
}


#container > aside > ul > li > a:hover {
    background-color: #d8a0f1;
}

#container > aside > ul > li > a > span {
    display: inline-block;
    width: 70%;
    font-size:22px;
    margin-top:7px;

}

#container > aside > ul > li > a > img {
    width:40px;
    border-radius: 50%;
}

main {
    width:80%;
    background-color: azure;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    box-sizing: border-box;
}
#horloge{
    /*height: 100px;*/
    width: 270px;
    background-color: #61646c;
    color: #fff;
    opacity: 0.7;
    display: block;
    padding:0px;
    position:relative;
    top:350px;
    left:690px;
    border-radius: 10px;
    text-align: center;
}
#stop {
<<<<<<< HEAD
    height: 33px;
    width: 160px;
    background-color:#81B560;
    color: #fff;
=======
    /*height: 33px;*/
    /*width: 200px;*/
    padding:20px;
    background-color:#fb806a;
>>>>>>> 2bf971bb1d608bc26f8fc73c9600a300539056b3
    border-radius: 10px;
    display: inline-block;
    /*border: 1px solid transparent;*/
    /*box-sizing: border-box;*/
    cursor: pointer;

}

main {
    width: 80%;
    background-color: azure;
    display: inline-block;
    height: 900px;
    vertical-align: top;
}

main p {
    text-align: center;
    font-style: italic;
    /*margin: 0;*/
     
}

main ul {
    font-size: 10px;
    padding: 0;
    margin-left: 15px;

}

main > ul > h3 {

    font-size: 30px;
    /*font-weight: 20px;*/
    text-align: center;
    color: #81B560;
    margin-top: 20px;
    margin-bottom: 10px;
}

