html {
    height:100%;
}

* {
    font-size:20px;
    padding-left: 0;
    vertical-align: top;
    margin-top:0;
    margin-bottom:0;
}

body {
    background: #d8a0f1;
    font-family: Calibri;

}

#container {
    background: #f2f1f0;
    width:60%;
    margin:20px auto;
    box-sizing: border-box;
    border-radius: 5px;
    /*overflow: hidden;*/

}

#commands > div {
    display: flex;
    align-items: center;
}

select {
    height: 30px;
    width:auto;
    border: none;
}
#commands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding:10px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 2px solid #d8a0f1;
    background: #f2f1f0;

}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

.select {
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    -o-user-select: auto;
}

#add_element {
    background-color: #06D6A0;
    color:white;
    border-radius: 20px;
    margin-left:30px;
    padding:4px 15px;
    text-decoration: none;
    cursor:pointer;
    /*margin-top:10px;*/
}

section > div > input {
    margin:0 10px;
}

header {
    padding:0px;
    margin: 0;
}
h3 , h2 {
    padding:10px 10px 10px 30px;
}

h1 {
    font-size: 50px;
    border-bottom: 2px solid #d8a0f1;
    padding: 10px 30px;
    color:white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(193,0,0,0) 100%);
}
h2 {
    font-size: 30px;
}

#cadre {
    height:600px;
    background: white;
    display:flex;
}

#cadre > div {
    font-size: 40px;
    width: 100px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06D6A0;
    border-right: 5px dashed black;
    border-bottom: 5px dashed black;
    border-top: 5px solid white;
    border-left: 5px solid white;
    position: relative;
    color:white;
}

#cadre > div > i {
    position:absolute;
    cursor:pointer;
    padding-right:2px;
    padding-left:2px;
    background-color: white;
    color:grey;
}

#cadre > div > i.fa-times {
    top:0;
    right:0;
}

#cadre > div > i.fa-bars {
    top:0;
    left:0;
}

#menu {
    position:absolute;
    left:25px;
    top:0;
    width:180px;

    color:black;
    /*border:1px black solid;*/
    background-color: #f2f1f0;
    z-index: 10;
    font-family: Calibri;
    height: 180px;
}




#menu div > input {
    width:50px;
    color:black;

}

#menu > section {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
    height:100%;
    box-sizing: border-box;

}

section div {
    display:flex;
    align-items: center;
    justify-content: flex-end;

}

#valid_elem {
    background-color: #06D6A0;
    padding:10px;
    border-radius: 10px;
    width:100%;
    text-align: center;
    display: block;
    margin:0 10px;
}

h4 {
    display: inline-block;
    font-size: 15px;
}


.temp_win {
    position:absolute;
    top:0;
    left:0;
    background-color: transparent;
    border:3px black dotted;
    z-index: 3;
}


