* {
    padding-left:0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}

h1,h2,h3,h5 {
    font-family: Neutraface, Arial;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    width:100%;
    margin:0;
    padding-bottom:30px;
}


h2 {
    color: #fb0;
    font-weight: normal;
    font-size: 34px;
    letter-spacing: 1px;

}

h3 {
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffbb00;
    width:100%;
    padding:0;
    margin:0;

}

h4 {
    line-height: 26px;
    font-size: 18px;
    color: white;
    text-align: center;
    margin:0;
    margin-bottom: 30px;
    font-weight: normal;
}


h5 {
    font-size:22px;
    font-weight: normal;
    margin:0;
}

p {
    line-height: 26px;
    font-family: dosis;
    font-size: 16px;
    color: rgba(40,40,40,0.8);
}


.center {
    text-align: center;
    width:100%;
}

.alignright {
    text-align: right;
    width:100%;
}


.center_1050px {
    max-width: 1050px;
    /*!!!!!*/
    width:95%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


/*@media (min-width: 1050px) {*/
    /*.center_1050px {*/
        /*width:1050px;*/
    /*}*/
/*}*/

/*@media (max-width: 1049px) {*/
    /*.center_1050px {*/
        /*width:100%;*/
    /*}*/
/*}*/




    body,html {
        height:100%;
        width:100%;
        font-size: 20px;
        margin:0;

    }

        section {
            width:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            padding:60px 0;

        }






        /*     FIXED NAVBAR                                        */
        /*---------------------------------------------------------*/

        #fixed_navbar {
            padding:5px 20px;
            position:fixed;
            z-index: 50;
            background-color: white;
            height:77px;
            overflow-y: hidden;
            box-shadow: 0 2px 2px grey;
            display:none;

        }

        #fixed_navbar .center_static_resp {
            padding:15px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            max-width:1050px;
            width:100%;
        }



            #fixed_navbar .center_static_resp img {
                width:125px;
                margin-right:40px;
            }

            /*--------------------------------------------------*/
            /*      MEDIA QUERIES :                             */
            /*--------------------------------------------------*/



            /*   968px < viewport
            /*--------------------------------------------------*/

            @media (min-width: 968px)
            {

                .burger {
                    display: none;
                }


                #fixed_navbar ul {
                    margin: 0;
                    padding:0;
                    width:100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                #fixed_navbar li {
                    font-family: Neutraface;
                    color:black;
                    text-transform: uppercase;
                    font-size: 18px;
                    text-align: center;
                    margin-right:40px;
                }

                #fixed_navbar a {
                    color: black;
                    display: inline-block;
                    height:25px;
                    padding:0;
                }

                #fixed_navbar a:hover{
                    color: #ffbb00;
                }

                .menu {
                    display: none;
                }

            }


            /*   viewport < 968
            /*--------------------------------------------------*/

            @media (max-width: 967px)
            {
                #fixed_navbar ul {
                    display: none;
                }

                .burger {
                    text-transform: uppercase;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    right:10px;
                    top:10px;
                    color: #ffbb00;
                    font-family: Neutraface;
                    z-index: 9999;
                    cursor: pointer;

                }
            }


                /*#fixed_navbar img{*/
                    /*opacity:0;*/
                /*}*/

                #fixed_navbar ul li:first-of-type img {
                    opacity: 1;
                }

                #fixed_navbar ul li:hover img{
                    opacity: 1;
                }







        /*     BANNER                                              */
        /*---------------------------------------------------------*/


        #banner {

            justify-content: flex-end;
            position:relative;
            z-index: 1;
            padding-bottom: 0;
            /*background-color: blue;*/
        }

        .fas.fa-bars {
            margin-left: 10px;
            display: inline-block;
        }

            #banner > .personnes {
                background-position: bottom center;
                background-repeat: no-repeat;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
                width:100%;
                height:100%;
                position:absolute;
                z-index: 0;
            }

                #banner > .personnes:nth-child(1) {
                    background-image: url("../../images/back_legrand.png");
                    animation-name: first_guy;
                    }

                #banner > .personnes:nth-child(2) {
                        background-image: url("../../images/back_morfoisse.png");
                        animation-name: second_guy;
                    }

                #banner > .personnes:nth-child(3) {
                        background-image: url("../../images/back_vacquin.png");
                        animation-name: third_guy;
                    }


            #banner > .plan_avant {
                position:absolute;
                z-index: 1;
                width:100%;
                height:100%;
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,0.6253851882549895) 0%, rgba(0,0,0,0));
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
            }

                #logo {
                    z-index: 1;
                }

                #banner > .plan_avant > a {
                    position:relative;
                    animation-name: bracket_move;
                    animation-duration: 0.25s;
                    animation-timing-function: ease-in-out;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                }

                    #banner #titres p {
                        text-align: center;
                        font-family: dosis, arial;
                        color: white;
                        opacity:0.5;
                        margin:0px;
                        font-size: 16px;

                    }


                    @keyframes bracket_move {
                        0% {
                            bottom:0
                        }
                        100% {
                            bottom:2px;
                        }

                    }




                /*--------------------------------------------------*/
                /*      MEDIA QUERIES :                             */
                /*--------------------------------------------------*/




                /* 968px < viewport                                 */
                /*--------------------------------------------------*/


                @media (min-width: 968px)
                {

                    #banner > .menu {
                        display: none;
                    }

                    #banner > .personnes {
                        background-size: cover;
                    }

                    #banner {
                        height: 100vh;
                    }

                    .burger_absolute {
                        display: none;
                    }

                    .plan_avant ul {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width:100%;
                        font-size: 17px;
                        text-transform: uppercase;
                    }

                        .plan_avant li {
                            padding:10px 44px 10px 0;
                            font-size: 16px;
                            margin:0;
                        }

                            #banner ul a {
                                text-decoration: none;
                                color:white;
                                font-family: Neutraface, Arial;
                            }

                            #banner ul a:hover {
                                color: #fb0;
                            }



                    @keyframes first_guy {
                        0%{
                            background-position: -1000px 0;
                        }
                        100%
                        {
                            background-position: 0 0;
                        }
                    }

                    @keyframes second_guy {
                        0%{
                            background-position: 0 1000px;
                        }
                        100%
                        {
                            background-position: 0 0;
                        }
                    }

                    @keyframes third_guy {
                        0%{
                            background-position: 800px 0;
                        }
                        100%
                        {
                            background-position: 0 0;
                        }
                    }



                    #titres {
                        margin:40px 0 75px 0;

                    }
                }




                /*  viewport < 968px                                */
                /*--------------------------------------------------*/

                @media (max-width: 967px)
                {
                    #banner {
                        height: 300px;
                    }

                    .burger_absolute {
                        text-transform: uppercase;
                        position:absolute;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        right:10px;
                        top:10px;
                        color: #ffbb00;
                        font-family: Neutraface;
                        z-index: 9999;
                        cursor: pointer;

                    }



                    #banner > .personnes {
                        background-size: contain;
                    }

                    .plan_avant ul {
                        display: none;
                    }

                    @keyframes first_guy {
                        0%{
                            background-position: -300px 0;
                        }
                        100%
                        {
                            background-position: center;
                        }
                    }

                    @keyframes second_guy {
                        0%{
                            background-position: 0 300px;
                        }
                        100%
                        {
                            background-position: center;
                        }
                    }

                    @keyframes third_guy {
                        0%{
                            background-position: 300px 0;
                        }
                        100%
                        {
                            background-position: center;
                        }
                    }

                    #titres {
                        margin:20px 0 20px 0;

                    }
                }


                /*  viewport > 468 px                                */
                /*---------------------------------------------------*/


                @media (min-width: 468px){
                    #logo {
                        width:418px;
                    }
                }

                /*  viewport < 467 px                                */
                /*---------------------------------------------------*/


                @media (max-width: 467px) {
                    #banner > .personnes {
                        background-size: cover;
                    }

                    #expertise .navbar_expertise > li {
                        width:90%;
                    }

                    #logo {
                        width:90%;
                    }
                }



        /*     PRESENTATION                                         */
        /*---------------------------------------------------------*/

        #presentation .title_pres {
            width:90%;
            font-family: Neutraface, Arial;
            font-size: 30px;
            text-align: center;
            padding-top: 0;
            margin-top:0;
            padding-bottom: 20px;
            background-image: url("../../images/LOGO-ONLY-O-ALPHA.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }









            .content_presentation > p {
                line-height: 26px;
                font-family: dosis;
                font-size: 16px;
                color: rgba(40,40,40,0.8);
                padding-right:30px;
                margin-top:0;
                margin-bottom:32px;
            }


            /*--------------------------------------------------*/
            /*      MEDIA QUERIES :                             */
            /*--------------------------------------------------*/



            /* viewport > 968px                                */
            /*--------------------------------------------------*/

            @media (min-width:968px) {
                #presentation h3 , #presentation h1 { text-align: left;}
                .content_presentation               { column-count: 2; }
            }

            /* viewport < 967px                                */
            /*--------------------------------------------------*/

            @media (max-width:967px) {
                #presentation h3 , #presentation h1 { text-align: center;}
                .content_presentation               { column-count: 1; }
            }



        /*     EXPERTISE                                         */
        /*---------------------------------------------------------*/


        #expertise {
            background-image: url("../../images/IMG-back-section2.png");
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            height:auto;
            justify-content: flex-end;

        }


            #expertise h3 {
                text-align: center;
                font-weight: normal;
                margin:0;
                font-size: 13px;
                letter-spacing: 2px;
                /*margin-top:20px;*/
            }

            #expertise h1 {
                color:white;
                font-weight: normal;
                text-align: center;
                margin-top: 0;
                letter-spacing: 2px;
            }



            #expertise .navbar_expertise {
                display:flex;
                flex-direction: row;
                list-style-type: none;
                flex-wrap: wrap;
            }

                #expertise .navbar_expertise > li {
                    position:relative;
                    z-index: 1;
                    color:white;
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    margin:0;
                    padding:0;
                }


                @media (min-width: 968px) {
                    #expertise .navbar_expertise > li {
                        width:16%;
                    }
                    #expertise .navbar_expertise {
                        justify-content: center;
                    }
                }

                @media (max-width: 967px){
                    #expertise .navbar_expertise {
                        justify-content: space-around;
                    }
                }

                @media (max-width: 967px) and (min-width: 468px){
                    #expertise .navbar_expertise > li {
                        width:45%;
                    }


                }

                #expertise .navbar_expertise > li:nth-child(1) {
                    animation-delay: 0s
                }

                #expertise .navbar_expertise > li:nth-child(1) {
                    animation-delay: 0.2s
                }

                #expertise .navbar_expertise > li:nth-child(2) {
                    animation-delay: 0.4s
                }

                #expertise .navbar_expertise > li:nth-child(3) {
                    animation-delay: 0.6s
                }

                #expertise .navbar_expertise > li:nth-child(4) {
                    animation-delay: 0.8s
                }

                #expertise .navbar_expertise > li:nth-child(5) {
                    animation-delay: 1s
                }

                #expertise .navbar_expertise > li:nth-child(6) {
                    animation-delay: 1.2s
                }

                #expertise .navbar_expertise > li:hover {
                    z-index: 3;
                }

                #expertise h5
                {
                    text-align: center;
                    font-size:22px;
                    margin-top:10px;
                    margin-bottom:20px;
                    font-family: Neutraface, Arial;
                    font-weight: normal;
                    width:60%;
                }

                #expertise li > h5 {
                    color:white;
                }


                    .animate {
                        opacity:0;
                        position:absolute;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        left:63px;
                        top:0;
                        width:0;
                        height:0;
                        background-color: white;
                        overflow: hidden;
                        transition:all 0.6s ease-in-out;
                        z-index: 3;
                        box-shadow: 1px 1px 1px grey;
                    }

                    #expertise .navbar_expertise > li:hover > .animate {
                        left:-100px;
                        top:-27px;
                        width:320px;
                        height:auto;
                        opacity:1;
                        padding-top:26px;
                        padding-bottom:26px;
                    }


                        #expertise .animate h5 {
                            color:black;
                            width:130px;

                        }

                        .animate ul {
                            list-style-type: disc;
                            /*color: black;*/
                            color:black;
                            padding:0 20px 0 20px;
                        }

                        .animate li {
                            transition:all 0.6s 0.6s ease-in-out;
                            color:white;
                            padding-left: 10px;
                            font-size: 13px;
                            line-height: 20px;
                            font-family: dosis;
                            display:flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            opacity: 0;

                        }

                        .animate li img {
                            width:15px;
                            padding: 10px;
                            box-sizing: content-box;
                        }

                        .animate p {
                            margin-top: 5px;
                            margin-bottom: 5px;
                        }

                        .animate > p {
                            transition:all 0.6s 0.6s ease-in-out;
                            text-align: center;
                            color:black;
                            padding-left: 30px;
                            padding-right: 30px;
                            font-size: 11px;
                            line-height: 20px;
                            font-family: dosis;
                            display:flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: flex-start;
                            opacity: 0;
                        }


                        #expertise .navbar_expertise > li:hover .animate li {
                            color:black;
                            opacity:1;
                        }

                        #expertise .navbar_expertise > li:hover .animate > p {
                            opacity:1;
                            color:black;
                        }












        /*     PARTENAIRES                                         */
        /*---------------------------------------------------------*/

        #equipe {
            background-color: #f5f4f2;
            padding-bottom:20px;
        }


            #equipe .center_1050px {
                justify-content: flex-start;
                padding-bottom: 10px;
            }

                #equipe h3 {
                    width:100%;
                    font-size: 13px;
                    text-align: center;
                    letter-spacing: 3px;
                    font-weight: bold;
                    margin-bottom: 3px;
                }

                #equipe h1 {
                    width:100%;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                }

                #equipe p {
                    /*padding-right:30px;*/
                    text-align: center;
                }

                #equipe p:last-of-type {
                    font-weight: bold;
                }

                #equipe .center_1050px > div {
                    align-self:stretch;
                    display: flex;
                    justify-content: space-around;
                    overflow: hidden;
                    position: relative;

                }

                #equipe .center_1050px .animated a {
                    display: inline-block;
                    padding:10px 20px;
                    text-transform: uppercase;
                    background-color: #ffbb00;
                    color:white;
                    text-decoration: none;
                    font-family: dosis;
                    font-size:15px;

                }

                #equipe .center_1050px .animated:hover a {
                    top:500px;
                    opacity: 1;
                }

                #equipe .center_1050px > div > div {
                                position: relative;
                                padding-bottom:80px;
                                text-align: center;
                            }


                    #equipe .center_1050px > div > div:nth-child(1){
                        animation-delay: 0.2s;
                    }

                    #equipe .center_1050px > div > div:nth-child(2){
                        animation-delay: 0.4s;
                    }

                    #equipe .center_1050px > div > div:nth-child(3){
                        animation-delay: 0.6s;
                    }


                    #equipe .center_1050px > div > div > img {
                        padding:0 25px;
                        /*margin:auto;*/
                        display: inline-block;

                    }

                    .savoir_cont {
                        text-align: center;
                        position: absolute;
                       /*absolute pas 100% par défaut !!!*/
                        width:100%;

                    }

                    .savoir_stat {
                        position:relative;
                    }



                    .top_bord {
                        z-index: 2;
                        position: absolute;
                        width:0;
                        height:2px;
                        top:20px;
                        left:30px;
                        transition: all 0.25s linear;
                        background-color: #ffbb00;
                    }

                    .left_bord {
                        z-index: 2;
                        position: absolute;
                        width:2px;
                        height:0;
                        top:20px;
                        left:30px;
                        transition: all 0.25s linear;
                        background-color: #ffbb00;
                    }

                    .right_bord {
                        z-index: 2;
                        position: absolute;
                        width:2px;
                        height:0;
                        top:20px;
                        left:261px;
                        transition: all 0.25s 0.25s linear;
                        background-color: #ffbb00;
                    }

                    .bottom_bord {
                        z-index: 2;
                        position: absolute;
                        width:0;
                        height:2px;
                        top:251px;
                        left:30px;
                        transition: all 0.25s 0.25s linear;
                        background-color: #ffbb00;
                    }

                    #equipe .center_1050px > div > div:hover .top_bord,
                    #equipe .center_1050px > div > div:hover .bottom_bord
                    {
                        width:233px;
                    }

                    #equipe .center_1050px > div > div:hover .left_bord,
                    #equipe .center_1050px > div > div:hover .right_bord{
                        height:233px;
                    }

                    #equipe .center_1050px > div > div > p {
                        padding-left: 20px;
                        padding-right: 20px;
                        position: relative;
                        font-family: dosis;
                        font-size: 16px;
                        color: grey;
                        font-weight: normal;

                    }

                    #equipe .center_1050px h5 {
                        text-align: center;
                        font-family: Neutraface, Arial;
                        letter-spacing: 2px;
                        font-weight: bold;
                        color:black;
                        /*margin:0;*/

                    }

                    .titres {
                        height:200px;
                        overflow: hidden;
                    }


                    /*--------------------------------------------------*/
                    /*      MEDIA QUERIES :                             */
                    /*--------------------------------------------------*/




                    /* 968px < viewport                                 */
                    /*--------------------------------------------------*/

                    @media (min-width: 968px) {

                        #equipe {
                            background-color: #f5f4f2;
                        }

                        #equipe
                        .center_1050px
                        .animated:hover .savoir_cont {
                            top:0;
                            opacity: 1;
                        }

                        #equipe .center_1050px .savoir_cont {
                            top:200px;
                            opacity: 1;
                            transition: all 0.5s;
                        }

                        #equipe .center_1050px > div > div > img
                        {
                            width:auto;
                        }

                        .top_bord ,
                        .left_bord ,
                        .right_bord ,
                        .bottom_bord ,
                        #equipe .center_1050px > div > div > p
                        {
                            display: block;
                        }

                        #equipe h5 {
                            padding-top:20px;
                            font-size: 25px;
                        }
                    }


                    /*968px < viewport*/
                    /*--------------------------------------------------*/


                    @media (max-width: 967px) {

                        #equipe {
                            background-color: white;
                        }

                        #equipe .center_1050px .savoir_cont {
                            top:0;
                            opacity: 1;
                            transition: 0s;
                        }

                        .top_bord ,
                        .left_bord ,
                        .right_bord ,
                        .bottom_bord ,
                        #equipe .center_1050px > div > div > p
                        {
                            display: none;
                        }

                        #equipe .center_1050px > div > div > img {
                            width:100%;
                        }

                        #equipe {
                            background-color: white;
                        }

                        #equipe h5 {
                            padding:10px 0 25px 0;
                            font-size: 20px;
                        }
                    }

                    /*viewport > 467px                                  */
                    /*--------------------------------------------------*/

                    @media (min-width: 468px) {
                        #equipe .center_1050px > div {
                            flex-wrap: nowrap;
                        }

                        #equipe .center_1050px > div > div {
                            flex:1;
                        }
                    }

                    /*viewport  <  467px                                */
                    /*--------------------------------------------------*/


                    @media (max-width: 467px) {

                         #equipe .center_1050px > div {
                            flex-wrap: wrap;
                        }

                        .guys
                        {
                            width:100%;
                        }

                    }

                    /*Fin MEDIA QUERIES */








        /*     PARTENAIRES                                         */
        /*---------------------------------------------------------*/

        #partenaires {
            background-color: white;
        }


            #partenaires h3 {
                width: 100%;
                font-size: 15px;
                text-align: center;
                letter-spacing: 3px;
                font-weight: bold;
                margin-bottom: 3px;
                color: #ffbb00;
                /*text-transform: ;*/

            }

            #partenaires h1 {
                text-align: center;
                margin-top: 0px;
            }

            #nav_bar_full > img:first-child {
                transform: rotate(90deg);
                width:40px;
            }

            #nav_bar_full > img:last-child {
                transform: rotate(-90deg);
                width:40px;
            }

            #nav_bar_full {
                display: flex;
                justify-content: center;
                align-items: center;
                width:100%;
            }

            #nav_bar_partners {
                display: flex;
                justify-content: center;
                align-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                max-width: 800px;
                width:100%;
                overflow: hidden;
                height:40px;

            }



                #nav_bar_partners img{
                    height:30px;
                    margin-right:50px;
                    margin-bottom:10px;
                    /*margin-top:30px;*/
                }










        /*     CLIN D'OEIL                                         */
        /*---------------------------------------------------------*/

        #clin_oeil {
            background-image: url("../../images/img-back-clindoeil-v2.jpg");

            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 1000px;
            background-color: #f5f4f2;
            padding:50px;
        }

            #clin_oeil .center_1050px {
                align-items: flex-start;
            }


                #clin_oeil h1 {
                    text-align: center;
                }

                #clin_oeil .center {
                    margin:0;
                }

                #clin_oeil > .center_1050px > p {
                    text-align: center;
                }

                    #clin_oeil h2 {
                        font-weight: bold;
                        font-size: 30px;
                        letter-spacing: 2px;
                        text-align: left;
                    }

                    .wrap_clin a {
                        display: inline-block;
                        margin: 30px 5px;
                    }

                        .wrap_clin img {
                            padding:20px;
                            background-color: white;
                        }

                .rounds {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .rounds span {
                        width:15px;
                        height:15px;
                        border-radius: 50%;
                        margin:0 20px;
                        border:1px black solid;
                        cursor: pointer;
                    }


                    #span_center {
                        width:30px;
                        height:30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                        #black {
                            width:15px;
                            height:15px;
                            border-radius: 50%;
                            background-color: black;
                        }

                #vline {
                    width:1px;
                    height:30px;
                    background-color: black;
                }

        /*--------------------------------------------------*/
        /*      MEDIA QUERIES :                             */
        /*--------------------------------------------------*/


        /*968  < viewport                                   */
        /*--------------------------------------------------*/

        @media (min-width: 968px) {
            .wrap_clin {
                width:600px;
                padding: 50px 0;
            }

            #clin_oeil h1 {
                font-size: 50px;
            }

            .wrap_clin img {
                display:inline-block;
            }
        }

        /*0 < viewport < 968px                              */
        /*--------------------------------------------------*/

        @media (max-width: 967px) {
            .wrap_clin {
                width:100%;
                padding: 0;
            }

            #clin_oeil h1 {
                font-size: 29px;
            }

            .wrap_clin img {
                display:none;
            }
        }




        /*     RESEAU                                              */
        /*---------------------------------------------------------*/

        #reseau {
            background-image: url("../../images/IMG-back-section-4.png");
            background-size: cover;
            background-position: center;
            padding: 50px 0;

        }

            #reseau h3 {
                width: 100%;
                font-size: 13px;
                text-align: center;
                letter-spacing: 3px;
                font-weight: bold;
                margin-bottom: 3px;
            }



            #reseau h1 {
                text-align: center;
                color:white;
            }

            .reseau_img {
                display:flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width:100%;

            }

                #reseau .reseau_img div:first-child {
                    animation-duration: 0.3s;
                    animation-delay: 0.2s;
                }

                #reseau .reseau_img div:nth-child(2) {
                    animation-duration: 0.3s;
                    animation-delay: 0.4s;
                }

                #reseau .reseau_img div:nth-child(3) {
                    animation-duration: 0.3s;
                    animation-delay: 0.6s;
                }







        /*     ACTUALITES                                          */
        /*---------------------------------------------------------*/

        #actualites {
            background-color: white;
        }


            #actualites article {
                display: flex;
                align-items: flex-start;

            }


                #actualites article:first-child .animated {
                    transition-delay: 0.2s;
                }

                #actualites article:nth-child(2) .animated {
                    transition-delay: 0.6s;
                }

                #actualites article:nth-child(3) .animated {
                    transition-delay: 1s;
                }




                    #actualites article > div {
                        background-color: #f5f4f2;
                        z-index:1;
                        position: relative;
                    }




                        #actualites article h3 {
                            text-align: left;
                            text-transform: uppercase;

                        }

                        #actualites article h4 {
                            color:black;
                            text-align: left;
                            font-family: Neutraface;
                        }


                        #actualites article h1 {
                            font-size: 40px;
                            margin-bottom: 20px;
                        }

                        #actualites .rotate_title {
                            border: 1px solid #ffbb00;
                            padding:10px;
                            text-align: right;
                            width:auto;
                            display:inline-block;
                            text-transform: uppercase;
                            position: relative;
                            overflow: hidden;
                            z-index: 2;
                            cursor: pointer;

                        }

                        #actualites .rotate_title:hover h3.cyellow{
                            color:white;
                        }

                        #actualites .rotate_title:hover h3.cwhite{
                            color: #ffbb00;
                        }

                        .rotate_rectangle {
                            transition: all 0.5s linear;
                            transform:rotate(-45deg);
                            transform-origin: -30px 10px;
                            left:-40px;
                            top:-3px;
                            position:absolute;
                            z-index: 1;
                            width:200px;
                            height:50px;
                        
                        }


                        #actualites .rotate_title:hover .rotate_rectangle {
                            transform:rotate(0deg);
                            transform-origin: -30px 10px;
                        }

                            .rotate_title h3 {
                                margin:0;
                                position:relative;
                                z-index: 4;
                                transition:all 0.5s linear;
                            }

                            .rotate_title.yellow {
                                margin-top: 30px;
                            }
                            
                            .cyellow {
                                color: #ffbb00;
                            }
                            
                            .cwhite {
                                color:white;
                            }


                            .yellow {
                                background-color: #ffbb00;
                            }
                            
                            .white {
                                background-color: white;
                            }
                #more_articles {
                    display:inline-block;
                    background-color: #ffbb00;
                    color:white;
                    padding:10px 20px;
                    font-family: dosis;
                    text-transform: uppercase;
                }

                /*--------------------------------------------------*/
                /*      MEDIA QUERIES :                             */
                /*--------------------------------------------------*/


                /* 1220 < viewport
                /*--------------------------------------------------*/

                @media (min-width: 1170px) {
                    #actualites article > div {
                        width:750px;
                    }
                }

                /*!* viewport < 1220*/
                /*!*--------------------------------------------------*!*/
                @media (max-width: 1170px) and (min-width: 968px){
                    #actualites article > div {
                        width:588px;
                    }
                }


                /* viewport > 968
                /*--------------------------------------------------*/

                @media (min-width: 968px) {


                    #actualites article {
                        padding:30px 0 100px 0;
                        justify-content: flex-start;
                    }

                    #actualites .actu_center {
                        max-width: 1300px;
                        width:100%;
                    }

                    #actualites p {
                        display: block;
                    }

                    #actualites article {
                        height: auto;
                    }

                    #actualites article:nth-child(odd) > div {
                        top: 75px;
                        margin-left:-75px;
                        /*!!!! Permet de ne pas prendre en compte le resize à sur l'article*/

                    }

                    #actualites article:nth-child(even) > div {
                        top: 75px;
                        left:+75px;

                    }

                    #actualites article > img {
                        width:auto;
                    }

                    #actualites article > div {
                        padding:20px 75px;
                    }

                    #actualités h1 {
                        font-size: 50px;
                    }

                    #actualites .alignright {
                        display:block;
                    }

                    #actualites h4 {
                        /*margin-bottom: 0;*/
                        font-size: 20px;
                        font-family: Neutraface;
                    }



                }

                /*   viewport < 968px*/
                /*--------------------------------------------------*/



                @media (max-width: 968px) {

                    #actualites article {
                        padding:0;
                        background-color: #f5f4f2;
                        /*align-items: stretch;*/

                    }

                    #actualites article:nth-last-of-type(odd) {
                        background-color: #f5f4f2;
                    }

                    #actualites article:nth-last-of-type(even) {
                        background-color: white;
                    }


                    #actualites .actu_center {
                        width: 100%;
                    }

                    #actualites p {
                        display: none;
                    }

                    #actualites article > div {
                        position:static;
                        width:66.6%;
                        height:100%;
                        padding:10px 10px;
                        background-color: transparent;
                    }

                    /*!!!!! adaptation hauteur largeur !!*/

                    #actualites article > img {
                        width:33.4%;
                    }

                    #actualites article h1 {
                        font-size: 28px;
                        line-height: 24px;
                        padding-bottom:0;
                        margin:0;
                    }

                    #actualites .alignright {
                        display:none;
                    }

                    #actualites h4 {
                        margin-bottom: 0;
                        font-size: 12px;
                        font-family: Neutraface;
                    }

                }

            @media (min-width:468px) {
                #actualites article:nth-child(odd) {
                    flex-direction: row;
                }

                #actualites article:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }

            @media (max-width:467px) {
                #actualites article {
                    flex-direction: row;
                }
            }





         /*     CONTACT                                             */
         /*---------------------------------------------------------*/

        #contact {
            /*height:730px;*/
            background-image: url("../../images/IMG-back-section-5.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
        }

            #contact h1 {
                color:white;
            }

            #contact article {
                margin-top: 120px;
                display:flex;
                justify-content: center;
                align-items: center;
                align-content: center;
            }

            .resp_align {
                width:100%;
            }


                    #contact form {
                        display:flex;
                        justify-content: space-between;
                        flex-wrap: wrap;
                        background-color: transparent;
                        width:60%;
                        position: relative;
                    }



                        #contact form > .input_container {
                            color:white;
                            font-family: Neutraface;
                            border:none;
                            background-color: transparent;
                            margin:20px 0;
                            outline: none;
                            position: relative;
                        }


                        #contact form  input {
                            border:none;
                            font-size: 22px;
                            border-bottom: 2px solid white;
                            background-color: transparent;
                            outline: none;
                            position: relative;
                            display: block;
                            width:100%;
                            color:white;
                        }


/*animationfillmode forwards*/

                        label {
                            font-size: 22px;
                            z-index: -2;
                            color:white;
                            transition:all 0.5s;
                            text-transform: uppercase;
                            font-family: Neutraface;
                            display: block;
                            transform-origin: 50px 0;
                            transform:translateX(+10px) translateY(-25px) scale(1);
                        }



                        input:focus + label {
                            transform:translateX(-10px) translateY(20px) scale(0.8);

                        }




                    
                        ::placeholder {
                            color:white;
                            text-transform: uppercase;
                        }

                        #contact  form > p {
                            width:100%;
                            color:white;
                            font-family: Neutraface;
                            text-transform: uppercase;
                            font-size: 20px;
                            margin:20px 0;

                        }

                        #contact  form > textarea {
                            width:100%;
                            height:50px;
                            overflow: auto;
                            border:none;
                            border-bottom: 2px solid white;
                            margin:0;
                            margin-bottom: 20px;
                            background-color: transparent;
                            color:white;
                            font-family: Neutraface;
                            resize: none;
                        }

                    #contact article > div {
                        text-align: center;
                    }


                    #contact article div  h5 {
                        color:white;
                        font-size: 25px;

                    }

                    #contact article div  p {
                        width:100%;
                        color:white;
                        font-family: Neutraface;
                        line-height: 3px;
                        font-size: 20px;
                        margin:10px 0;

                    }


                    #contact article > div > div {
                        width:220px;
                        text-align: left;
                        margin: 0 auto;
                    }





                        #contact article div  p:first-of-type {
                                                margin-bottom:20px;
                                            }

                        #contact article a{
                            display: inline-block;
                            border:2px solid white;
                            text-decoration: none;
                            color:white;
                            font-family: Neutraface;
                            font-size: 22px;
                            margin-top: 20px;
                            padding: 5px 20px;
                            text-transform: uppercase;
                        }


                /*--------------------------------------------------*/
                /*      MEDIA QUERIES :                             */
                /*--------------------------------------------------*/


                /* viewport > 968px*/
                /*--------------------------------------------------*/


                @media (min-width: 968px) {
                    #contact article {
                        flex-wrap: nowrap;
                    }

                    #contact form .input_container:first-child {
                        margin-right: 200px;
                    }

                    #contact article > div {
                        border-left: 1px solid white;
                        padding-left:30px;
                        margin-left:30px;
                    }

                    .resp_align {
                        text-align: right;
                    }

                    #contact form {
                        margin-right:125px;
                    }

                    #contact form .input_container {
                        width:40%;
                    }

                    #contact article h5 {
                        text-align: left;
                    }
                }


                /* viewport < 968px                                 */
                /*--------------------------------------------------*/

                @media (max-width: 967px) {
                    #contact article {
                        flex-wrap: wrap;
                    }

                    #contact article > form , #contact article > div {
                        width:100%;
                    }

                    #contact article > div {
                        padding-top:10px;
                        margin-top:20px;
                    }


                    .resp_align {
                        text-align: center;
                    }

                    #contact form {
                        margin-right:0;
                        margin-left: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }

                    #contact form .input_container {
                        width:100%;
                        margin-right:0;
                        margin-left: 0;
                        padding-right: 0;
                        padding-left: 0;
                    }

                    #contact article h5 {
                        border-top: 1px solid #8B8B8B;
                        display: inline-block;
                        padding:10px 30px;
                    }


                }

                /*FIN MEDIA QUERIES*/




/*     FOOTER                                              */
/*---------------------------------------------------------*/

        #footer {
            background-color: white;
            padding:40px 0;
        }

            #footer .center_1050px {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

                #footer ul {
                    display: flex;
                    justify-content: center;
                }

                    #footer li {
                        padding-right:30px;
                    }



                    #footer .center_1050px > img {
                        width:182px;
                    }

                    #footer a {
                        color:black;
                        font-family: Neutraface;

                    }

                /*--------------------------------------------------*/
                /*      MEDIA QUERIES :                             */
                /*--------------------------------------------------*/


                /* viewport > 968px*/
                /*--------------------------------------------------*/

                @media (min-width: 968px)
                {
                    #footer ul {
                        flex-direction: row;
                        align-items: center;
                        font-size: 18px;
                    }

                    #footer a {
                        font-size: 18px;
                    }


                }

                /* viewport < 968px                                 */
                /*--------------------------------------------------*/

                @media (max-width: 968px)
                {
                    #footer ul {
                        flex-direction: column;
                        align-items: flex-start;
                        font-size: 13px;
                    }

                    #footer a {
                        font-size: 13px;
                    }

                    #footer > .center_1050px > img {
                        width:100px;
                    }

                    #footer .center_1050px {
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                }




                #social_networks img{
                    padding:10px;
                }












        /*     CREDITS                                             */
        /*---------------------------------------------------------*/

        #credits {
            color:grey;
            font-size: 20px;
            font-family: Neutraface;
            padding:20px 0;
            background-color: #f5f4f2;
        }




.full_screen_pres {
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    position:fixed;
    display: none;
    background-color: white;
    z-index: 999;
}

.half_size_img {
    width:50%;
    height:100%;
}
